<footer class="page-footer fonta-small bg-secondary pt4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/people/Luiz-Felipe-Magalh%C3%A3es/1473027600" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/felipe_mag/?hl=pt-br" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/luiz-felipe-magalh%C3%A3es-134421125/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2021 Copyright</span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">brazil.generation.org</a>
    </div>

</footer>
